In [2]:
#pip install dnspython

In [3]:
import json
import pymongo 
from pymongo import MongoClient
import numpy as np
import pandas as pd

Punto 1, incisos a y b

Prepara el entorno de trabajo: No aplica ya que se está utilizando un cluster en la nube de MongoDBAtlas.

In [4]:
uri = "mongodb+srv://UNIRUser:7e6weNTY6w8b4HD2@microsipcluster20210413.g4bxh.mongodb.net/localesmadrid?retryWrites=true&w=majority"
cluster = MongoClient(uri)

Punto 2, incisos a, b y c

Monitoreo de MongoDB. Se utiliza la herramienta "Performance" de MongoDB Compass para mostrar el desempeño del cluster durante las operaciones realizadas.

3. Importar base de datos: 

Las colecciones se importan utilizando MongoDB Compass

4. Exportar la base de datos: 

La exportación se realiza utilizando MongoDB Compass

6.2 A) Los locales del barrio Guindalera de Salamanca, por motivos de la desescalada no podrán abrir y tendrán que permanecer **cerrados**

In [5]:
db = cluster['localesmadrid']
collection = db["opendatalocalesmadrid"]

In [6]:
result = collection.update_many(
  {"desc_barrio_local": "GUINDALERA"},
  {"$set": {"desc_situacion_local" : "Cerrado"}}
)

6.2 B) 
A todas las terrazas que se ubiquen en la acera, añadid un campo llamado inspeccionar y estableced el siguiente valor: 

Si dispone de más de 10 mesas, true. 

Si dispone de menos de 10 mesas, false.

In [7]:
result = collection.update_many(
  {"desc_ubicacion_terraza": "Acera"},
  [{"$set": {"inspeccionar" : { "$gte": [ "$mesas_es", 10] } }}]
)

6.2 C)
A las terrazas que se deban inspeccionar, asignad 2 mesas auxiliares y 8 sillas disponibles.

In [8]:
result = collection.update_many(
  {"inspeccionar": True},
  {"$set": {"mesas_aux_es": 2, "sillas_es": 8}}
)

6.2 D)
A las terrazas que no deban ser inspeccionadas, añadid el campo estado con el valor: 

1 si el número de sillas es menor que 10. 

2 si el número de sillas está entre 10 y 20. 

3 si cuenta con más de 20 sillas.

In [9]:
result = collection.update_many(
  {"inspeccionar": False},
  [{"$set": {"estado": {
    "$switch":
     {
       "branches": [
         {"case": {"$lt": ["$sillas_es", 10]},
          "then": 1
         },
         {"case": { "$and": [{"$gte": ["$sillas_es", 10]},
                         {"$lte": ["$sillas_es", 20]}
                        ]
                },
          "then": 2
         },
         {"case": {"$gt": ["$sillas_es", 20]},
          "then": 3
         }
         ],
       "default": 0
     }
  } }}]
)

6.2 E)

De lunes a jueves, ningún local podrá cerrar más allá de las 00:00:00, actualizad el horario de cierre a esta nueva hora límite.

In [10]:
result = collection.update_many(
  {},
  {"$set": {"hora_fin_LJ_es": "0:00:00"}}
)

6.2 F)

De viernes a sábado, los locales que cierren a las 2:30:00 ahora tendrán que hacerlo a las 2:00:00.

In [11]:
result = collection.update_many(
  {"hora_fin_VS_es": "2:30:00"},
  {"$set": {"hora_fin_VS_es": "2:00:00"}}
)

6.2 G)

A todos los locales que estén sobre la calle Alcalá en Madrid se les debe inspeccionar.

In [12]:
result = collection.update_many(
  {"DESC_CLASE": "CALLE", "DESC_NOMBRE": "ALCALA"},
  {"$set": {"inspeccionar": True}}
)

6.2 H)

A todos los locales con terrazas abiertas, añadid un campo revision cuyo valor sea un documento con la siguiente información: {prox_inspeccion: 10, puntuacion: 80, comentario: “separar las mesas”}

In [13]:
result = collection.update_many(
  {"desc_situacion_terraza": "Abierta"},
  {"$push": {"revision": {"prox_inspeccion": 10, "puntuacion": 80, "comentario": "separar las mesas"}}}
)

6.2 I)

Cread una nueva colección llamada zona1 con todos los locales que pertenezcan al distrito de Villaverde.

In [14]:
#zona1 = db["zona1"]
collection.aggregate([
  { "$match": {"desc_distrito_local": "VILLAVERDE"} },
  { "$out" : "zona1" }
]);

6.2 J)

Cread una nueva colección llamada zona2 con todos los locales que pertenezcan al distrito de Salamanca y barrio Castellana.

In [15]:
#zona2 = db["zona2"]
collection.aggregate([
  { "$match": {"desc_distrito_local": "SALAMANCA", "desc_barrio_local": "CASTELLANA"} },
  { "$out" : "zona2" }
]);

##7. Transformar para Neo4J

Creación de un dataframe para obtener los nombres "únicos" de los barrios existentes y guardar en formato CSV:

In [16]:
barrios = pd.DataFrame(collection.distinct ("desc_barrio_local")).reset_index(drop=True)
barrios.rename(columns={0:"Nombre"}, inplace=True)
barrios.to_csv("barrios.csv")

In [19]:
barrios

               Nombre
0            ABRANTES
1             ACACIAS
2             ADELFAS
3          AEROPUERTO
4    ALAMEDA DE OSUNA
..                ...
115          VALVERDE
116            VENTAS
117         VINATEROS
118      VISTA ALEGRE
119             ZOFIO

[120 rows x 1 columns]

Instrucción CQL para cargar el archivo generado dentro de Neo4J:

In [20]:
#Importar Barrios a Neo4j
#LOAD CSV WITH HEADERS FROM "https://raw.githubusercontent.com/earandir/MetodosCapturaAlmacenamientoDatos/main/Actividad03/barriosa.csv" AS csvLine
#CREATE (p:Barrio {id: toInteger(csvLine.Id), nombre: csvLine.Nombre})

Creación de la lista de locales, obteniendo los campos necesarios para incluirse dentro de la base de datos Neo4j. 

Se renombran los campos para tener un mejor control y se genera el archivo en formato CSV:

In [21]:
locales = pd.DataFrame(collection.find({}, {'Nombre': 1, 'id_local': 1, 
                                            'coordenada_x_local': 1, 'coordenada_y_local': 1, 
                                            'desc_barrio_local': 1, 'desc_ubicacion_terraza': 1,
                                            'desc_situacion_terraza': 1})).reset_index(drop=True) # <--- Just multiple fields name space separated

locales.rename(columns={"desc_barrio_local":"Barrio", "coordenada_x_local": "x", 
                        "coordenada_y_local": "y", "desc_barrio_local": "Barrio", 
                        "desc_situacion_terraza": 'SituacionTerraza', 'desc_ubicacion_terraza': 'Terraza'}, inplace=True)

locales['x'] = locales['x'].str.replace(',','.')
locales['y'] = locales['y'].str.replace(',','.')

locales[['Nombre', 'id_local', 'x', 'y']].to_csv("locales.csv")

Instrucción CQL para cargar el archivo de locales:

In [26]:
#Importar Locales a Neo4j
#LOAD CSV WITH HEADERS FROM "https://raw.githubusercontent.com/earandir/MetodosCapturaAlmacenamientoDatos/main/Actividad03/localesa.csv" AS csvLine
#CREATE (p:Local {id: toInteger(csvLine.Id), nombre: csvLine.Nombre, idlocal: csvLine.id_local, x: toFloat(csvLine.x), y: toFloat(csvLine.y)})

Transformación y limpieza de la lista de Locales y Barrios, para generar la relacción que existe entre ambos. Esto se logra realizando un "merge" de ambos dataframes, para luego guardarlo en formato CSV:

In [27]:
barrios2 = barrios
barrios2.rename(columns={"Nombre":"Barrio"}, inplace=True)
locales2 = locales 
locales2.rename(columns={"Nombre":"Local"}, inplace=True)

barrios2.reset_index(inplace=True)
locales2.reset_index(inplace=True)


#crear relación de locales con su barrio correspondiente
localbarrio = pd.merge(locales2, barrios2, how="inner", on=["Barrio"])

localbarrio.rename(columns = {'index_x':'localId', 'index_y':'barrioId'}, inplace = True)

localbarrio[["localId", "barrioId"]].to_csv("localebarrio.csv", index=False)

Instrucción CQL para crear la relación entre locales y barrios:

In [33]:
#Insertar relación de locales a barrios
#LOAD CSV WITH HEADERS FROM "https://raw.githubusercontent.com/earandir/MetodosCapturaAlmacenamientoDatos/main/Actividad03/localebarrio.csv" AS csvLine
#MATCH (local:Local {id: toInteger(csvLine.localId)}), (barrio:Barrio {id: toInteger(csvLine.barrioId)})
#CREATE (local)-[:ESTA_EN]->(barrio)

Transformación de la lista de la tipología de Terrazas para guardar en formato CSV:

In [34]:
terrazas = pd.DataFrame(collection.distinct ("desc_ubicacion_terraza")).reset_index(drop=False)
terrazas.rename(columns={0:"Terraza", "index": "terrazaId"}, inplace=True)
terrazas.to_csv("terrazas.csv", index=False)

Insrtucción CQL para importar las Terrazas:

In [38]:
#Cargar terrazas
#LOAD CSV WITH HEADERS FROM "https://raw.githubusercontent.com/earandir/MetodosCapturaAlmacenamientoDatos/main/Actividad03/terrazas.csv" AS csvLine
#CREATE (p:Terraza {id: toInteger(csvLine.terrazaId), nombre: csvLine.Terraza})

Transformación y creación de la relación de los locales con su terraza correspondiente, para generar el archivo CSV:

In [39]:
localterraza = pd.merge(locales, terrazas, how="inner", on=["Terraza"]).reset_index(drop=False)
localterraza.rename(columns={"index":"localId"}, inplace=True)
localterraza[["localId", "terrazaId", "SituacionTerraza"]].to_csv('localterraza.csv', index=False)

Instrucción CQL para la creación de la relación de los locales con su terraza, incluyendo la situación de la misma:

In [43]:
#Insertar relación de locales a terrazas
#LOAD CSV WITH HEADERS FROM "https://raw.githubusercontent.com/earandir/MetodosCapturaAlmacenamientoDatos/main/Actividad03/localterraza.csv" AS csvLine
#MATCH (local:Local {id: toInteger(csvLine.localId)}), (terraza:Terraza {id: toInteger(csvLine.terrazaId)})
#CREATE (local)-[:TERRAZA_EN {situacion: csvLine.SituacionTerraza}]->(terraza)

Instrucción CQL para obtener los restaurantes que tienen terraza abierta sobre el bulevar:

In [44]:
#Restaurantes con terraza en el bulevar
#MATCH p=(b:Barrio)<-[x:ESTA_EN]-(l:Local)-[r:TERRAZA_EN]->(t:Terraza {nombre: 'Bulevar'}) 
#WHERE l.nombre CONTAINS 'RESTAURANTE'
#RETURN p